.container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #C2D6D5;
  color: #455647;
  height: 5rem;
}

.name {
  font-size: 1rem;
  font-family: 'Taviraj';
}
